In [26]:
import pandas as pd
from time import time
from sqlalchemy import create_engine

In [16]:
engine = create_engine("postgresql://postgres:postgres@localhost:5433/ny_taxi")

In [17]:
engine.connect()

In [22]:
tripdata_iter = pd.read_csv("../../data/green_tripdata_2019-10.csv", iterator=True, chunksize=100000)

In [23]:
tripdata = next(tripdata_iter)
tripdata["lpep_pickup_datetime"] = pd.to_datetime(tripdata.lpep_pickup_datetime)
tripdata["lpep_dropoff_datetime"] = pd.to_datetime(tripdata.lpep_dropoff_datetime)

In [7]:
print(pd.io.sql.get_schema(tripdata, name="green_taxi_data"))

CREATE TABLE "green_taxi_data" (
"VendorID" REAL,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [27]:
tripdata.head(n=0).to_sql(name="green_taxi_data", con=engine, if_exists="replace")

0

In [28]:
tripdata.to_sql(name="green_taxi_data", con=engine, if_exists="append")
while True:
    t_start = time()
    tripdata = next(tripdata_iter)
    tripdata["lpep_pickup_datetime"] = pd.to_datetime(tripdata.lpep_pickup_datetime)
    tripdata["lpep_dropoff_datetime"] = pd.to_datetime(tripdata.lpep_dropoff_datetime)
    tripdata.to_sql(name="green_taxi_data", con=engine, if_exists="append")
    print("Another chunk inserted in %.3f seconds" %(time()-t_start))

Another chunk inserted in 5.124 seconds
Another chunk inserted in 5.694 seconds

/tmp/ipykernel_269939/846706375.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  tripdata = next(tripdata_iter)

Another chunk inserted in 5.200 seconds
Another chunk inserted in 3.478 seconds

StopIteration:

In [31]:
lookup = pd.read_csv("../../data/taxi_zone_lookup.csv")

In [34]:
print(pd.io.sql.get_schema(lookup, name="taxi_zone_lookup"))

CREATE TABLE "taxi_zone_lookup" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [35]:
lookup.head(n=0).to_sql(name="taxi_zone_lookup", con=engine, if_exists="replace")

0

In [36]:
lookup.to_sql(name="taxi_zone_lookup", con=engine, if_exists="append")

265